# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/
*.settings

# Precompiled Headers
*.gch
*.pch
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

*.json
*.command
.vs
*.tlog
*.tlog/
*.lastbuildstate
x64/
/OmokClient/OmokClient.vcxproj.user
/OmokServer/OmokServer.vcxproj.user
/OmokServer/bin
/OmokTestClient
/OmokClient/OmokClient.csproj.user
